<footer class=" container footer pt-0">
  <div class="container row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <div class="copyright text-center  text-lg-left  text-muted">
        &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Reasmed Test Blog</a>
      </div>
    </div>
  </div>
</footer>