<!DOCTYPE html>
<html>
  <head>
    <title>A simple Blog webapp with pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/favicon.ico" />

    <!-- Latest compiled and minified CSS -->
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 40px;
        margin-left: 400px;
      }
      .bg-light {
        background-color: slategrey !important;
      }
      .yagiz {
        position: relative;
        top: 30px;
      }
      .blogform {
        position: relative;
        top: 80px;
      }
      .blogcard {
        position: relative;
        top: 60px;
        margin-left: 500px !important;
        width: 300px;
        margin: -30px;
      }
      .taskrif {
        position: relative;
        top: 20px;
        margin-left: 420px;
      }
      .pagination {
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        position: fixed;
        left: 0;
        bottom: 40px;
        margin-left: 500px;
      }
    </style>
  </head>

  <body>
    <section>
      <%- include ("./partials/navbar") -%> <%- body -%> <%- include
      ("./partials/javascriptonly") -%>
    </section>
  </body>
</html>
