<div class="container taskrif">
  <h1>Welcome to my Ted Talk</h1>
</div>

<div class="container blogcard">
  <% for (var i = 0; i < posts.length; i++) { %>
  <div class="card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          title: <%= posts[i].title %>
        </h5>
        <p class="card-text">
          content: <%= posts[i].content %>
        </p>
        <a href="#" class="text text-muted">Author: <%= posts[i].author %></a> </br>
        <span>Tag: <%= posts[i].category %></span>
      </div>
    </div>
  </div>
  <% } %>
</div>
<div class="container">
  <% if (pages > 0) { %>
  <ul class="container pagination text-center">
    <% if (current == 1) { %>
    <li class="disabled"><a>First</a></li>
    <% } else { %>
    <li><a href="/homepage/1">First</a></li>
    <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if
    (i !== 1) { %>
    <li class="disabled"><a>...</a></li>
    <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if
    (i == current) { %>
    <li class="active"><a><%= i %></a></li>
    <% } else { %>
    <li><a href="/homepage/<%= i %>"><%= i %></a></li>
    <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
    <li class="disabled"><a>...</a></li>
    <% } %> <% } %> <% if (current == pages) { %>
    <li class="disabled"><a>Last</a></li>
    <% } else { %>
    <li><a href="/homepage/<%= pages %>">Last</a></li>
    <% } %>
  </ul>
  <% } %>
</div>
