<section class="container mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background" id="form1-4t" data-rv-view="10803">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(239, 239, 239);">
  </div>
  <div class="container yagiz">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Added New Blog Post </h2>
      </div>
    </div>
  </div>
  </div>
  <div class="container blogform">
    <div class="row justify-content-center">
      <div class="media-container-column col-lg-8" data-form-type="formoid">
        <div data-form-alert="" hidden="">
          Thanks for filling out the form!
        </div>

        <form class="mbr-form" action="/post" method="post" data-form-title="New Blog">
          <div class="row row-sm-offset">
            <div class="col-md-4 multi-horizontal" data-for="name">
              <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-4t">Title</label>
                <input type="text" class="form-control" name="title" data-form-field="Name" required=""
                  id="name-form1-4t">
              </div>
            </div>
            <div class="col-md-4 multi-horizontal">
              <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="sel2">Category</label>
                <select multiple class="form-control" id="sel2" name="category">
                  <option>Node.js</option>
                  <option>Laravel</option>
                  <option>React.js</option>
                  <option>Veu.js</option>
                  <option>Nextjs</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 multi-horizontal" data-for="phone">
              <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-4t">Author</label>
                <input type="tel" class="form-control" name="author" data-form-field="Phone" id="phone-form1-4t">
              </div>
            </div>
          </div>
          <div class="form-group" data-for="message">
            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4t">content</label>
            <textarea type="text" class="form-control" name="content" rows="7" data-form-field="Message"
              id="message-form1-4t"></textarea>
          </div>

          <span class="input-group-btn">
            <button href="" type="submit" class="btn btn-primary btn-form display-4">SEND FORM</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section form3 cid-qv5ApTuHUl" id="form3-4u" data-rv-view="10806">